html{
	font-size: 10px;
	font-family: 'Sonsie One', cursive;
	background-color: #FBF3F7;
}
h1{
	font-size: 55px;
	text-align: center;
	margin: 0;
	padding: 20px 0;
	color: black;
	/*text-shadow: 1px 1px 50px black;*/
}
p{
	font-size: 40px;
	line-height: 1;
	letter-spacing: 1px;
}
li{
	font-size: 25px;
	line-height: 1;
	letter-spacing: 1px;
}
body{
	width: 600px;
	margin: 40px auto;
	background-color: #FFFFFF;
	padding: 0 20px 20px 20px;
	border: 5px solid black;
}
img{
	display: block;
	margin: 0 auto;
}